# WHILE 반복문

# 1. 제곱 출력하기

## 요구 사항
- 사용자로부터 하나의 정수를 입력받는다.  
- 입력된 정수 `num`까지의 숫자에 대해 다음을 수행한다:  
  - `while` 문을 이용하여 1부터 `num`까지 각 수의 제곱을 출력한다.  
  - `for` 문을 이용하여 1부터 `num`까지 각 수의 제곱을 출력한다.  
- 두 반복문 모두 `1^2`, `2^2`, ..., `num^2`까지의 결과를 출력해야 한다.

In [ ]:
num = int(input())

wh_i = 0

while wh_i < num:
  wh_i += 1
  print('%d ^ 2 = %d' % (wh_i, wh_i*wh_i))

print()

for fo_i in range(1, num+1):
  print('%d ^ 2 = %d' % (fo_i, (fo_i*fo_i)))

5
1 ^ 2 = 1
2 ^ 2 = 4
3 ^ 2 = 9
4 ^ 2 = 16
5 ^ 2 = 25

1 ^ 2 = 1
2 ^ 2 = 4
3 ^ 2 = 9
4 ^ 2 = 16
5 ^ 2 = 25

# 2. 공 튀기기 시뮬레이션

## 요구 사항
- 사용자로부터 하나의 정수를 입력받는다.  
- 공의 초기 높이는 100cm이다.  
- 공은 한 번 튈 때마다 이전 높이의 3/5만큼 튄다.  
- 입력한 횟수만큼 공이 튄 후, 최종 높이를 출력한다.  
- 최종 출력 형식은 `"최종 높이: ○○"`와 같이 표시한다.

In [102]:
num = int(input("횟수 입력 : "))

i = 0
ball = 100

while (i < num):
  ball = ball * 0.6
  i += 1

print("최종 높이: %f" % ball)

횟수 입력 : 5
최종 높이: 7.776000

# 3. 별찍기 문제
## 요구사항(4입력 예시)
- 패턴 1: 정방향 삼각형
- 패턴 2: 오른쪽 정렬 정방향 삼각형
- 패턴 3: 역삼각형
- 패턴 4: 오른쪽 정렬 역삼각형
- 패턴 5: 피라미드

In [ ]:
# 패턴 1
"""
*
**
***
****
"""

'\n*\n**\n***\n****\n'

In [96]:
i = 0

while (i < 4):
  i += 1
  print("*" * i)

*
**
***
****

In [ ]:
# 패턴 2
"""
   *
  **
 ***
****
"""

In [ ]:
i = 0

while (i < 4):
  i += 1
  print((" "*(5 - i))+("*"*i))

    *
   **
  ***
 ****

In [ ]:
# 패턴 3
"""
****
***
**
*
"""

In [ ]:
i = 0

while (i < 4):
  i += 1
  print("*"*(5 - i))

****
***
**
*

In [ ]:
# 패턴 4
"""
****
 ***
  **
   *
"""

In [ ]:
i = 0

while (i < 4):
  i += 1
  print((" "*i)+("*"*(5 - i)))

 ****
  ***
   **
    *

In [ ]:
# 패턴 5
"""
   *
  ***
 *****
*******
"""

In [97]:
i = 7
j = 1
while j <= i:
    print(' ' * (i - j) + '*' * (2 * j - 1))
    j += 1

      *
     ***
    *****
   *******
  *********
 ***********
*************

# 4. 커피 자판기 시뮬레이션

## 요구 사항
- 사용자에게 커피 개수를 입력받는다.
- 사용자가 돈을 넣으면 다음 조건에 따라 처리한다:
  - 커피 값은 300원이다.
  - 300원을 넣으면 "커피를 줍니다."를 출력하고 커피를 1개 줄인다.  
  - 300원보다 많이 넣으면 "거스름돈 ○○원을 주고 커피를 줍니다."를 출력하고 커피를 1개 줄인다.  
  - 300원보다 적게 넣으면 "돈을 다시 돌려주고 커피를 주지 않습니다."를 출력하고, 남은 커피 수를 출력한다.  
- 커피가 0개가 되면 "커피가 다 떨어졌습니다. 판매를 중지합니다."를 출력하고 반복을 종료한다.

In [ ]:
coffee_count = int(input("커피 개수 입력 : "))

while (coffee_count > 0):
  money = int(input("돈을 넣으세요(한잔당 300원) : "))
  if money == 300:
    print("커피를 줍니다.")
    coffee_count -= 1
    print("남은 커피 수 %d" % coffee_count)
  elif money > 300:
    print("거스름돈 %d원을 주고 커피를 줍니다." % (money-300))
    coffee_count -= 1
    print("남은 커피 수 %d" % coffee_count)
  else:
    print("돈을 다시 돌려주고 커피를 주지 않습니다.")
    print("남은 커피 수 %d" % coffee_count)

print("판매가 완료되었습니다.")

커피 개수 입력 : 3
돈을 넣으세요(한잔당 300원) : 300
커피를 줍니다.
남은 커피 수 2
돈을 넣으세요(한잔당 300원) : 500
거스름돈 200원을 주고 커피를 줍니다.
남은 커피 수 1
돈을 넣으세요(한잔당 300원) : 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피 수 1
돈을 넣으세요(한잔당 300원) : 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피 수 1
돈을 넣으세요(한잔당 300원) : 0
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피 수 1
돈을 넣으세요(한잔당 300원) : 9000
거스름돈 8700원을 주고 커피를 줍니다.
남은 커피 수 0
판매가 완료되었습니다.

# FOR 반복문

# 1. 문자열 내 알파벳 빈도수 출력

## 요구 사항
- 사용자로부터 문자열을 입력받는다.  
- 입력된 문자열에서 알파벳(a~z, A~Z)의 빈도수를 출력한다.  
- 대소문자는 구분하지 않는다.  
- 알파벳이 아닌 문자는 무시한다.  
- 알파벳은 오름차순으로 정렬하여 출력한다.

### 예시 입력
Hello, Python!

### 예시 출력
- e: 1
- h: 2
- l: 2
- n: 1
- o: 2
- p: 1
- t: 1
- y: 1

In [100]:
s = input()

dic = {}

for c in s:
    if c.encode().isalpha():
        c = c.lower()
        if c in dic:
            dic[c] += 1
        else:
            dic[c] = 1

for c in sorted(dic):
    print("%c: %s" % (c, dic[c]))

saf2fwfad1
a: 2
d: 1
f: 3
s: 1
w: 1

# 2. 계단식 숫자 출력

## 요구 사항
- 사용자로부터 정수 n을 입력받는다.  
- `for` 반복문을 이용해 다음과 같은 숫자 계단을 출력한다.  
- 각 줄에는 1부터 해당 줄 번호까지의 숫자를 공백과 함께 출력한다. 단, 마지막에는 공백이 있어선 안된다.
- 줄 수는 입력한 정수만큼 출력한다.

### 예시 출력 (입력: 5)
- 1
- 1 2
- 1 2 3
- 1 2 3 4
- 1 2 3 4 5

In [94]:
num = int(input("정수 입력 : "))

for i in range(1, num+1): # 1 ~ 5 까지 열
  for j in range(1, num+1): #1 ~ 5 까지 행
    if i >= j:
      if j != num:
        print("%d"%j, end = ' ')
      else:
        print("%d"%j, end = '')
    else:
      if j != num:
        print(" ", end = ' ')
      else:
        print("", end = '')
  print()

정수 입력 : 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# 3. 1부터 500까지 3과 5의 공배수 출력

## 요구 사항
- 1부터 500까지 숫자 중에서 **3과 5의 공배수**만 출력한다.  
- 출력 결과는 한 줄에 5개씩 출력되도록 한다.  
- 줄바꿈은 5개를 출력할 때마다 적용한다.  
- 각 숫자는 가독성을 위해 일정한 간격으로 정렬한다.

### 예시 출력
15 30 45 60 75

90 ...

In [63]:
count = 0

for i in range(1,500):
  if (i%3==0 and i%5==0):
    print('%3d' % i, end = ' ')
    count += 1
    if (count%5 == 0): print()

 15  30  45  60  75
 90 105 120 135 150
165 180 195 210 225
240 255 270 285 300
315 330 345 360 375
390 405 420 435 450
465 480 495

# 4. 구구단 2단부터 9단까지 출력하기

## 요구 사항
- `for` 반복문을 중첩 사용하여 **2단부터 9단까지**의 구구단을 출력한다.  
- 각 단은 `단 제목`을 먼저 출력한 후, 그 단의 곱셈 결과를 1부터 9까지 출력한다.  
- 출력 형식은 `2 x 1 = 2`, `3 x 2 = 6`과 같은 형태로 출력한다.

In [ ]:
for i in range(2,10):
  print()
  print("구구단 %d단" % i)
  print()
  for j in range(1,10):
    print("%d X %d = %d" %(i,j,i*j))

구구단 2단

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

구구단 3단

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

구구단 4단

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

구구단 5단

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

구구단 6단

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

구구단 7단

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

구구단 8단

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

구구단 9단

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81