# **반복문**

* **반복문은 일정한 조건이 만족될 때까지 코드를 반복 실행하는 구문**
* **파이썬에서는 주로 for와 while 반복문을 사용**

# WHILE 반복문
주어진 조건이 True(참)인 동안 코드를 반복적을 실행하는 제어문

while 조건:
조건이 참인 경우 실행되는 문장.
조건이 참인 경우 실행되는 문장

In [ ]:
#while문 외부에서 조건을 위한 변수 선언
num = 1

while num <= 5:
  # 조건이 참인 경우 실행되는 문장
  print(num)
  # 조건을 변경시키는 문장을 항상 while문 내부에 포함시켜야 함.
  num += 1

print("while문이 종료된 후 num은 %d입니다." % num)

# 위 코드는 1 ~ 5까지 증가하며 num을 출력하고 최종적으로 num이 6이 되면서 조건이 끝나는 예제이다

1
2
3
4
5
while문이 종료된 후 num은 6입니다.

* while 반복문은 조건을 변경시키는 문장이 없으면 무한루프에 빠지게 된다

In [ ]:
while True:
  print("안녕하세요")

# Break문
* while문을 조건과 관계없이 강제로 탈출하는 명령어

In [ ]:
while True:
  print("안녕하세요")
  break

In [ ]:
num = 1

while True:
  print(num)
  num += 1

  if num > 5:
    break

1
2
3
4
5

* while문의 조건 이외에 방법으로 반복문을 탈출하고 싶을때 사용

#CONTINUE 명령어
* while 문의 맨 처음으로 돌아가는 명령어
* while문을 continue 아래의 문장을 무시하고 다음 루프로 실행시키는 코드 -> continue를 만나는 순간 즉시 조건을 검색하러 간다.

In [ ]:
num = 0
while num <=10:

  num += 1

  if num < 5:
    continue

  print(num)

5
6
7
8
9
10
11

# 예제1) n보다 작거나 같은 3의 배수 합 구하기 예제

  **요구 사항**  
    * 사용자로부터 정수 n을 입력받는다.
    * while 반복문을 사용하여 1부터 n까지의 숫자 중 3의 배수만 더한 합계를 출력한다.

In [ ]:
i = 1;
sum = 0;

n = int(input())

while i <= n:
  if((i % 3) == 0):
    sum += i

  i += 1

print(sum)

12
30

# 예제2) 1부터 입력한 수까지 호수만 출력하되, 100보다 크면 종료하는 예제

요구 사항
  * 사용자로부터 정수 n을 입력받는다.
  * while 반복문을 사용하여 1부터 n까지의 숫자 중 홀수만 출력한다.
  * 단, 숫자가 100보다 크면 더 이상 출력하지 않고 반복문을 종료한다.
  * continue는 짝수를 건너뛸 때 사용하고, break는 100 초과 시 종료할 때 사용한다.

In [ ]:
i = 1;

n = int(input())

while i <= n:
  if i % 2 == 0:
    i += 1
    continue

  if i > 100: break

  print(i)
  i += 1

8
1
3
5
7

# FOR 반복문

* while문은 조건에 의해 실행됐다면 for문은 시퀀스 자료형에 대해서 코드를 반복 실행하는 구문
* continue, break문 사용 가능  
* for문의 시퀀스  
  for 변수 in 리스트(또는 튜플, 문자열):  
    수행할_문장1  
    수행할_문장2  
    ...

In [ ]:
list1 = ['one', 'two', 'three','four', 'five']

count = 1

for i in list1:
  print(str(count)+'회차 i의 값: ', end = '')
  print(i)
  count = count + 1

# 1: i = list[0]('one') -> for문 안에 있는 문장 실행
# 2: i = list[1]('two') -> for문 안에 있는 문장 실행
# 3: i = list[2]('three') -> for문 안에 있는 문장 실행
# 4: i = list[3]('four') -> for문 안에 있는 문장 실행
# 5: i = list[5]('five) -> for문 안에 있는 문장 실행

# for문에서 2가지 이상의 값을 제어하는 방법
# (1, 1)
# (2, 2)
# (3, 3)
a = [(1, 1),(2, 2),(3, 3)]

for (b,c) in a:
  print(b + c)

one
two
three
four
five
2
4
6

* 파이썬에선 조건문 반복문에서 선언된 변수는 전역 변수 취급된다.
* 파이썬에선 한번에 2가지 값을 컨트롤 할 수 있다.

# 학생들의 점수 출력 예제

## 요구 사항
  * 아래와 같이 (이름, 점수) 형태의 튜플이 담긴 리스트가 주어진다.   
    students = [('철수', 85), ('영희', 92), ('민수', 78)]
  * for 반복문을 사용하여 다음과 같이 각 학생의 이름과 점수를 출력한다.

In [ ]:
students = [('철수', 85), ('영희', 92), ('민수', 78)]

for name, score in students:
  print(f"{name}의 점수는 {store}점입니다.")

# Range 함수
숫자 시퀀스를 자동으로 만들어주는 함수
  * range(번호)

In [ ]:
# range : 번호
for i in range(10):
  print(i)

print()

for i in range(-10, 12, 2): # 마지막 번호는 포함이 되지 않음(시작번호 이상 ~ 마지막번호 미만)
  print(i)

a = range(5)

0
1
2
3
4
5
6
7
8
9

-10
-8
-6
-4
-2
0
2
4
6
8
10

* range(시작번호, 마지막번호, Step) 형태로 사용할 수 있다
* Step 생략시 1과 같음

## 구구단 9단 출력 예제

In [ ]:
#for i in range(1, 10):
#  print('9 X %d = %d' % (i, i*9))

for i in range(1, 10):
  print(f'9 X {i} = {i*9}')

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# 학생 점수에 따라 합격/불합격 판별 예제

##요구 사항  
  * 학생들의 점수 리스트 'scores = [15, 50, 46, 86, 94]'가 주어진다.
  * 'for' 반복문을 이용하여 리스트의 각 점수를 확인하며 다음 조건을 따른다.
    1.  'num'이라는 번호를 1번부터 증가시킨다.
    2.  번호가 짝수일 경우 'continue' 를 사용하여 건너뛴다.
    3.  번호가 5가 되면 break를 사용하여 반복을 중단한다.
    4.  그 외에는 점수가 50점 이상이면 '0번 학생 합격!', 그렇지 않으면 '0번 학생 불합격!'을 출력한다.

In [ ]:
scores = [15, 50, 46, 86, 94]

num = 0;

for score in scores:
  num += 1

  if num == 5 : break
  if num % 2 == 0: continue

  if score >= 50:
    print(f'{num}번 학생 합격!')
  else:
    print(f'{num}번 학생 불합격!')

1번 학생 불합격!
3번 학생 불합격!

# 예제 심화

##요구 사항  
  * 학생들의 점수 리스트가 'scores = [15, 50, 46, 86, 94, 100, 51, 60]'가 주어진다.
  * 'for' 반복문을 활용하여 다음 작업을 수행한다
    1.  각 학생에게 번호(1번부터)를 부여한다.
    2.  홀수 번호 학생만 검사하며, 점수가 60점 이상이면 "0번 학생, 합격!", 그렇지 않으면 '0번 학생 불합격!'을 출력한다.
    3.  불합격한 홀수 번호 학생들의 점수를 누적하여 평균을 계산한다.
    4.  반복이 끝난 후, 불합격자들의 평균 점수를 '불합격 받은 학생의 평균 점수는 : 00입니다." 형식으로 출력한다.

In [ ]:
scores = [15, 50, 46, 86, 94, 100, 51, 60]

num = 0;
sum = 0;
count = 0;

for score in scores:
  num += 1

  if num % 2 == 0: continue

  if score >= 60:
    print(f'{num}번 학생 합격!')
  else:
    print(f'{num}번 학생 불합격!')
    sum += score
    count += 1

print(f'불합격 받은 학생의 평균 점수는 : %d입니다.' % (sum / count))

1번 학생 불합격!
3번 학생 불합격!
5번 학생 합격!
7번 학생 불합격!
불합격 받은 학생의 평균 점수는 : 37입니다.

In [ ]:
# 3번 반복 1회차 때. 내부에 있는 for문이 끝날 때 까지 기다린다.
         # 2회차 때, 다시 한번 +5개 출력
         # 3회차 때, * 5개 출력 -> 엔터 -> 종료
for i in range(3):
  # 5번 반복
  for j in range(5):
    print('*', end="")

  print()

*****
*****
*****