# 점수에 따른 등급 부여 문제

학생들에게 점수에 따라서 등급을 부여하려고 한다.
90점 이상일 경우 A등급.
80점 이상일 경우 B등급.
70점 이상일 경우 C등급.
70점 미만일 경우에는 D등급을 부여하는 코드를 작성하시오.

In [5]:
num = int(input("점수를 입력하세요: "))

if num >= 90:
  print('A 등급')
elif num >= 80:
  print('B 등급')
elif num >= 70:
  print('C 등급')
elif num < 70:
  print('D 등급')
else:
  print("올바른 점수를 입력하세요.")

점수를 입력하세요: 55
D 등급

# 더 큰 숫자 출력 문제

사용자에게 정수 값을 2개 입력받아, 더큰 숫자를 출력하고, 만약 같은 숫자라면 같습니다.라는 문장을 출력하시오.

In [ ]:
num1 = int(input("첫번째 정수를 입력하세요: "))
num2 = int(input("두번째 정수를 입력하세요: "))

if num1 > num2:
  print("더 큰 숫자는 %d 입니다." % num1)
elif num1 < num2:
  print("더 큰 숫자는 %d 입니다." % num2)
else:
  print("두 정수의 크기는 %d 로 같습니다" % num2)

# 숫자에 따른 단위 부여 문제

숫자가 1000 이상이면, 백단위를 생략하고 K를 붙인다.
숫자가 1000000 이상이면, 십만 단위를 생각하고 M을 붙인다.
1,000 -> K
1,000,000 -> M
1,000,000,000 -> G

*   입력: 25000
*   출력: 25K

*   입력: 123500000
*   출력: 123M

In [66]:
num = int(input("첫번째 정수를 입력하세요: "))
if num > 1000 and num < 1000000 and num < 1000000000:
  num = num / 1000
  print("출력값 %dk" % num)
elif num > 1000000 and num < 1000000000:
  num = num / 1000000
  print("출력값 %dM" % num)
elif num > 1000000000:
  num = num / 1000000000
  print("출력값 %dG" % num)
else:
  print("출력값 %d" % num)

첫번째 정수를 입력하세요: 100023132132
출력값 100G

In [72]:
num = int(input("첫번째 정수를 입력하세요: "))

if num > 1000000000:
  num = num / 1000000000
  print("출력값 %dG" % num)
elif num > 1000000:
  num = num / 1000000
  print("출력값 %dM" % num)
elif num > 1000:
  num = num / 1000
  print("출력값 %dk" % num)
else:
  print("출력값 %d" % num)

첫번째 정수를 입력하세요: 12345678912
출력값 12G

# **점프 투 파이썬 2장 연습문제**

# Q1. 평균 점수 구하기
홍길동 씨의 과목별 점수는 다음과 가다. 홍길동 씨의 평균 점수를 구해 보자

*   국어 : 80
*   영어 : 75
*   수학 : 55

In [50]:
kor = 80
eng = 75
math = 55
avg = (kor + eng + math) / 3

print("홍길동씨의 평균 점수는  %d 입니다" % avg)

홍길동씨의 평균 점수는  70 입니다

# Q2.홀수, 짝수 판별하기
자연수 13이 홀수인지, 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [14]:
if(13 % 2):
  print("13은 홀수입니다.")
else :
  print("13은 짝수입니다.")

13은 홀수입니다.

# Q3.주민등록번호 나누기
홍길동 씨의 주민등록번호는 881120-1068231이다. 홍길동 씨의 주민등록번호를 연원일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [25]:
pin = '881120-1068231'
yyyymmdd = '19'+ pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

19881120
1068231

# Q4. 주민등록번호 인덱싱
주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [30]:
pin = "881120-1068234"
print("성별을 나타내는 숫자는 %c 입니다" % pin[7])

성별을 나타내는 숫자는 1 입니다

# Q5. 문자열 바꾸기
다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔 출력해 보자

In [31]:
a = "a:b:c:d"
b = a.replace(':','#')
print(b)

a#b#c#d

# Q6. 리스트 역순 정렬하기
[1,3,5,4,2] 리스트를 [5,4,3,2,1]로 만들어 보자.

In [32]:
a = [1,3,5,4,2]
a.sort()
print(a)
a.reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

# Q7. 리스트를 문자열로 만들기
['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [33]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

# Q8. 튜플 더하기
(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만든 후 출력해 보자.

In [37]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

# Q9. 딕셔너리의 키
다음과 같은 딕셔너리 a가 있다.  
>>> a = dict()  
>>> a  
{}    

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.  
a['name'] = 'python'  
a[('a',)] = 'python'  
a[[1]] = 'python'  
a[250] = 'python'  
* 정답 : 3번(a[[1]] = 'python') : 리스트는 딕셔너리에 키 값으로 올 수 없다.

In [47]:
a = dict()
a['name'] = 'python'
print(a)
a[('a',)] = 'python'
print(a)
a[[1]] = 'python'
print(a)
a[250] = 'python'
print(a)

{'name': 'python'}
{'name': 'python', ('a',): 'python'}

TypeError: unhashable type: 'list'

# Q10. 딕셔너리 값 추출하기
딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [38]:
a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

# Q11. 리스트에서 중복 제거하기
a 리스트에서 중복 숫자를 제거해 보자.

In [39]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

# Q12. 파이썬 변수
파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자

In [40]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]

a = b = [1, 2, 3]은 하나의 리스트 객체를 공유하는 방식이므로 a의 요소를 변경하면 b도 함께 변경된다.