## 문제 1

두 숫자를 입력받아 더한 결과를 반환하는 함수를 작성한다.

- 함수 이름: `add_numbers`
- 매개변수: 두 개의 숫자
- 반환값: 두 숫자의 합

### 예시
입력: 3, 5  
출력: 8

### 추가 : 사칙연산 모두 구현

In [77]:
def add_number(a, b):
  return (a + b)
def sub_number(a, b):
  return (a - b)
def mul_number(a, b):
  return (a * b)
def div_number(a, b):
  return (a / b)


num1 = int(input("첫 번째 숫자 입력 : "))
num2 = int(input("두 번째 숫자 입력 : "))

result1 = add_number(num1, num2)
result2 = sub_number(num1, num2)
result3 = mul_number(num1, num2)
result4 = div_number(num1, num2)

print(f"덧셈 : {result1}, 뺄셈 : {result2}, 곱셈 : {result3}, 나눗셈 : {result4}")

첫 번째 숫자 입력 : 3
두 번째 숫자 입력 : 5
덧셈 : 8, 뺄셈 : -2, 곱셈 : 15, 나눗셈 : 0.6

## 문제 2

정수를 입력받아 짝수인지 홀수인지 판별하는 함수를 작성한다.

- 함수 이름: `check_even_odd`
- 매개변수: 정수 하나
- 반환값: 문자열 "짝수입니다." 또는 "홀수입니다."

### 예시
입력: 4  
출력: 짝수입니다.

입력: 7  
출력: 홀수입니다.

### 추가 : 짝수 / 홀수 구분하여 리스트에 저장

In [97]:
def check_even_odd(a):
  if a % 2 == 0:
    return "짝수입니다."
  else:
    return "홀수입니다."

jjack_list = []
hol_list = []

num1 = int(input("정수 입력 : "))
result = check_even_odd(num1)

if (result ==  "짝수입니다."): jjack_list.append(num1)
elif (result ==  "홀수입니다."): hol_list.append(num1)

print(result)
print(f"짝수 리스트 : {jjack_list}")
print(f"홀수 리스트 : {hol_list}")

정수 입력 : 7
홀수입니다.
짝수 리스트 : []
홀수 리스트 : [7]

## 문제 3

주어진 세 숫자 중 가장 큰 수를 반환하는 함수를 작성한다.

- 함수 이름: `max_of_three`
- 매개변수: 세 개의 숫자
- 반환값: 가장 큰 숫자

### 예시
입력: 5, 8, 2  
출력: 8

### 추가 : 별도의 내장함수 사용하지 않고 구현

In [ ]:
def max_of_three(a, b, c):
  max_num = 0
  if a > max_num: max_num = a
  if b > max_num: max_num = b
  if c > max_num: max_num = c
  return max_num


num1 = int(input("첫 번째 숫자 입력 : "))
num2 = int(input("두 번째 숫자 입력 : "))
num3 = int(input("세 번째 숫자 입력 : "))
result = max_of_three(num1, num2, num3)

print(result)

첫 번째 숫자 입력 : 5
두 번째 숫자 입력 : 8
세 번째 숫자 입력 : 2
8

## 문제 4

문자열을 입력받아 그 문자열의 길이를 반환하는 함수를 작성한다.

- 함수 이름: `string_length`
- 매개변수: 문자열 하나
- 반환값: 문자열의 길이 (정수형)

### 예시
입력: "hello"  
출력: 5

### 추가 : 별도의 내장함수 사용하지 않고 구현

In [25]:
def string_length(s):
  length = 0
  for c in s:
    length += 1
  return length


str1 = input("문자열 입력 : ")

result = string_length(str1)

print(result)

문자열 입력 : hello
5

## 문제 5

여러 개의 과목 점수를 입력받아 평균을 반환하는 함수를 작성한다.

- 함수 이름: `average_score`
- 매개변수: 여러 개의 점수(*args 사용)
- 반환값: 평균 점수

### 예시
입력: 80, 90, 100  
출력: 90.0

In [ ]:
def average_score(*args):
  sum = 0
  count = 0
  for i in args:
    sum += i
    count += 1
  return (sum / count)


num1 = int(input("첫 번째 과목 점수 입력 : "))
num2 = int(input("두 번째 과목 점수 입력 : "))
num3 = int(input("세 번째 과목 점수 입력 : "))
result = average_score(num1, num2, num3)

print(result)

첫 번째 과목 점수 입력 : 80
두 번째 과목 점수 입력 : 90
세 번째 과목 점수 입력 : 100
90.0

## 문제 6

문자열 리스트를 입력받아, 각 문자열의 길이를 담은 리스트를 반환하는 함수를 작성한다.

- 함수 이름: `lengths_of_strings`
- 매개변수: 문자열 리스트 하나
- 반환값: 정수 리스트

### 예시
입력: ["apple", "banana", "kiwi"]  
출력: [5, 6, 4]

### 추가 : 별도의 내장함수 사용하지 않고 구현

In [102]:
def lengths_of_strings(li):
    str_len = []
    for str2 in li:
        length = 0
        for c in str2:
            length += 1
        str_len +=  [length]
    return str_len


li_data = []
for i in range(3):
    str1 = input("리스트 값 입력 : ")
    li_data += [str1]

result = lengths_of_strings(li_data)

print(result)

리스트 값 입력 : apple
리스트 값 입력 : banana
리스트 값 입력 : kiwi
[5, 6, 4]

## 문제 7

문자열을 입력받아, 대문자는 소문자로, 소문자는 대문자로 변환하여 반환하는 함수를 작성한다.

- 함수 이름: `swap_case`
- 매개변수: 문자열 하나
- 반환값: 변환된 문자열

### 예시
입력: "HeLLo"  
출력: "hEllO"

In [31]:
def swap_case(s):
  str_list = []
  for i in s:
    if i.isupper() == True:
        str_list.append(i.lower())
    else:
        str_list.append(i.upper())
  return str_list



str1 = input("문자열 입력 : ")

result = swap_case(str1)

print(''.join(result))

문자열 입력 : Hello,New WORLD
hELLO,nEW world

## 문제 8

숫자 리스트를 입력받아, 0보다 큰 숫자만 골라서 새로운 리스트로 반환하는 함수를 작성한다.

- 함수 이름: `filter_positive_numbers`
- 매개변수: 숫자 리스트 하나
- 반환값: 양수만 담긴 리스트

### 예시
입력: [-2, 0, 5, 9, -1]  
출력: [5, 9]

In [36]:
def filter_positive_numbers(li):
    num_list = []
    for str2 in li:
        if(str2 > 0):
          num_list.append(str2)
    return num_list


li_data = []

for i in range(5):
  num = int(input("숫자 리스트 값 입력 : "))
  li_data.append(num)

result = filter_positive_numbers(li_data)

print(result)

숫자 리스트 값 입력 : -2
숫자 리스트 값 입력 : 0
숫자 리스트 값 입력 : 5
숫자 리스트 값 입력 : 9
숫자 리스트 값 입력 : -1
[5, 9]

## 문제 9

문자열을 입력받아, 단어별로 분리한 리스트를 반환하는 함수를 작성한다.

- 함수 이름: `split_into_words`
- 매개변수: 문자열 하나
- 반환값: 단어 리스트

### 예시
입력: "Python is fun"  
출력: ["Python", "is", "fun"]

### 추가 : 별도의 내장함수 사용하지 않고 구현

In [105]:
def split_into_words(s):
  str_list = []
  str_first = 0
  str_last = 0

  for i in s:
    if i == " ":
        str_list.append(s[str_first:str_last])
        str_first = str_last + 1
    str_last += 1

  str_list.append(s[str_first:str_last])
  return str_list


str1 = input("문자열 입력 : ")

result = split_into_words(str1)

print(result)

문자열 입력 : python is fun
['python', 'is', 'fun']

## 문제 10

문자열과 부분 문자열을 입력받아, 부분 문자열이 몇 번 등장하는지 세는 함수를 작성한다.

- 함수 이름: `count_substring`
- 매개변수: 문자열 하나, 부분 문자열 하나
- 반환값: 등장 횟수 (정수형)

### 예시
입력: ("banana", "na")  
출력: 2

In [108]:
def count_substring(s1, s2):
  count = 0
  str_first = 0

  while True:
    if s1.find(s2, str_first) != -1:
      count += 1
      str_first = s1.find(s2, str_first) + 1
    else:
      break;

  return count


str1 = input("문자열 입력 : ")
str2 = input("부분 문자열 입력 : ")

result = count_substring(str1, str2)

print(result)

문자열 입력 : banaananaanaaa
부분 문자열 입력 : naa
3

## 문제 11

정수 리스트를 입력받아, 리스트 안에서 중복된 숫자만 모아 리스트로 반환하는 함수를 작성한다.

- 함수 이름: `find_duplicates`
- 매개변수: 숫자 리스트 하나
- 반환값: 중복 숫자 리스트

### 예시
입력: [1, 2, 3, 2, 4, 1]  
출력: [1, 2]

In [109]:
def find_duplicates(li):
    num_list = []
    num_set = set()

    for num in li:
        if num in num_set:
            if num not in num_list:
                num_list.append(num)
        else:
            num_set.add(num)

    return sorted(num_list)


li_data = []

for i in range(6):
    num = int(input("숫자 리스트 값 입력 : "))
    li_data.append(num)

result = find_duplicates(li_data)

print(result)

숫자 리스트 값 입력 : 1
숫자 리스트 값 입력 : 1
숫자 리스트 값 입력 : 1
숫자 리스트 값 입력 : 1
숫자 리스트 값 입력 : 1
숫자 리스트 값 입력 : 1
[1]

## 문제 12

두 개의 문자열을 입력받아, 두 문자열이 아나그램인지 판별하는 함수를 작성한다.

아나그램: 같은 알파벳을 사용해서 순서만 바꾼 단어
- 함수 이름: `is_anagram`
- 매개변수: 문자열 두 개
- 반환값: True 또는 False

### 예시
입력: ("listen", "silent")  
출력: True

입력: ("hello", "world")  
출력: False

In [110]:
def is_anagram(str1, str2):
  sort_bool = (sorted(str1) == sorted(str2))
  if sort_bool == True and str1 != str2:
    return True
  else:
    return False

str1 = input("첫 번째 문자열 입력 : ")
str2 = input("두 번째 문자열 입력 : ")

result = is_anagram(str1, str2)

print(result)

첫 번째 문자열 입력 : sdffsss
두 번째 문자열 입력 : ssssffd
True